body {
    margin: 0px;
    padding: 0px;  font-family: 'Ubuntu';
}

body > p {
    width: 100%;
    background-color: #d9da99;
    text-align: center;
    margin: 0px;
    line-height: 32px;
    font-size: 10pt;
}


.wall {
    width: 90%;
    margin: auto;
    display: block;
}


.wall > div { 
    display: block;
    padding: 25px;
    background-color: #efefef;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 15px;
}


.wall > div:last-child {
    border-bottom: 0px solid;
}



.send {
    width: 90%;
    display: block;
    margin: auto;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: #ccc;
    min-height: 150px;
    border-radius: 15px;
    position: relative;
}


.send textarea {
    width: 100%;
    display: block;
    height: 150px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    padding: 25px;
    box-sizing: border-box;
    font-size: 15pt;
}

.send button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #ff6767;
    border: 0px;
    width: 150px;
    color: #fff;
    font-weight: 100;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 3px;
	cursor:pointer;
}
.send button:hover {
    background-color: #c14242;
}




.msg {
    width: 90%;
    margin: auto;
    background-color: #ff7f7f;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    color: #000;
    margin-top: 15px;
	display:none;
}


.msg.success {
    background-color: #94d19c;
}



div#header {
    width: 100%;
    background-color: #999;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
	
}

div#logo {
	float:left;
    width: 50%;
    height: 50px;
	background-image:url("../img/logo.png");
	background-repeat:no-repeat;
	background-size:auto 80%;
	background-position:left center;
	text-indent:99999px;
	overflow:hidden;
	
}

#header button#login {
    float: right;
    height: 50px;
    background-color: #6f6b6b;
    border: 0px;
    color: #fff;
	cursor:pointer;
}


/*
*	loading effects from Loading.io 
*/



.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
	display:none;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
